.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode
.github
.env
.idea
.idea/workspace.xml
.idea/inspectionProfiles/
ehthumbs.db
Thumbs.db
_config.yml
node_modules
node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml
dist
