@import 'import/variables.scss';
@import 'import/mixin.scss';
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size--root;
    font-weight: $font-weight--400;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

body {
    margin: 0;
    padding: 0;
    background-color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white;
}
input[type='text'],input[type='email'],input[type='search'],input[type='password'],select,button,[
type='button'],[type='reset'],[type='submit'] {
    appearance: none;
    cursor: pointer;
}

[hidden] {
    display: none !important;
}
.wrapper {
    width: 100%;
    min-width: map_get($wrapper, content-size--min);
    max-width: map_get($wrapper, content-size);
    margin: auto;
    padding-left: map_get($wrapper, padding-size);
    padding-right: map_get($wrapper, padding-size);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

h1 {
    font-size: 40px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: $font-weight--700;
}

h2 {
    font-size: 32px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: $font-weight--700;
}

p {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
}
@media (max-width: 800px){
    h1 {
        font-size: 32px;
        line-height: 48px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    p {
        font-size: 14px;
    }
}
