@import 'import/variables.scss';
@import 'import/mixin.scss';
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size--root;
    font-weight: $font-weight--400;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}
input[type='text'],input[type='email'],input[type='search'],input[type='password'],select,button,[
type='button'],[type='reset'],[type='submit'] {
    appearance: none;
    cursor: pointer;
}

[hidden] {
    display: none !important;
}
.wrapper {
    width: 100%;
    min-width: map_get($wrapper, content-size--min);
    max-width: map_get($wrapper, content-size);
    margin: auto;
    padding-left: map_get($wrapper, padding-size);
    padding-right: map_get($wrapper, padding-size);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    & > .content {
        flex: 1 0 auto;
        position: relative;
    }
}